.alert {
	display: block;
	margin-bottom: 10px;
	padding: 12px;
	overflow: hidden;
	color: #333;
	background-color: #eee;
	border-left: 4px solid #666;
	word-wrap: break-word;
	
	a {
		color: #333;
		text-decoration: underline;
	}
	
	> b {
		display: inline-block;
		margin-bottom: 3px;
	}
	
	&.success {
		color: #597e0d;
		background-color: #f4fce3;
		border-color: #85bb14;
		a { color: #597e0d; }
	}
	&.error {
		color: #db1a03;
		background-color: #fff1ef;
		border-color: #fd7969;
		a { color: #db1a03; }
	}
	&.warning {
		color: #b07102;
		background-color: #fff9dc;
		border-color: #fdb83d;
		a { color: #b07102; }
	}
	&.info {
		color: #0183c4;
		background-color: #e7f7ff;
		border-color: #019ae6;
		a { color: #0183c4; }
	}
	
	&.compact {
		padding: 10px 12px;
		font-size: 12px;
	}
	
	.fa { margin-right: 2px; }
}