body {
	font: 13px/1.5em "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	
}
h1 {
	font-size: 25px;
	font-weight: 400;
}
h2 {
	
}
h3 {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 10px;
}
h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
h5 {
	
}
h6 {
	
}
p {
	
}
small {
	
}