body.boxed {
	min-width: 350px;
	background: #111 url(../img/header.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	.wrapper {
		width: 300px;
	}
	#header {
		height: auto;
		padding: 40px 0 35px 0;
		text-align: center;
		background: none;
		.logo {
			font-size: 50px;
			color: #fff;
		}
	}
	#main {
		background: none;
		.wrapper {
			padding: 0;
			background: #fff;
			@include border-radius(5px);
		}
	}
	.header {
		padding: 15px;
		text-align: center;
		background: #f7f7f7;
		border-bottom: 1px solid #e5e5e5;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		
		h1 {
			font-size: 20px;
			font-weight: 600;
		}
	}
	.body {
		padding: 12px;
		background: #fff;
		&.round {
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	}
	.footer {
		padding: 7px;
		text-align: center;
		background: #f7f7f7;
		border-top: 1px solid #e5e5e5;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		.bttn-group {
			position: relative;
			left: 1px;
			display: block;
		}
	}
	
	&.wide {
		min-width: 650px;
		.wrapper { width: 600px; }
	}
	
}

body#login .footer a { width: 50%; }

body#login form {
	input.text, input[type=text], input[type=password] { width: 100%; }
	.submit {
		text-align: left;
		button[type=submit], input[type=submit] { width: 165px; }
	}
	.remember {
		margin-left: 5px;
		display: inline-block;
		
		label {
			margin-left: 1px;
			font-size: 12px;
			font-weight: 400;
			text-transform: none;
		}
		input[type=checkbox] {
			position: relative;
			top: -1px;
		}
	}
}

body#register {
	
	input.text, input[type=text], input[type=password] { width: 100%; }
	
	.features {
		padding: 5px 0 15px 0;
		margin-bottom: 15px;
		border-bottom: 1px dashed #e5e5e5;
		
		> span {
			width: 144px;
			float: left;
			text-align: center;
			
			.fa {
				margin-bottom: 5px;
				display: block;
				font-size: 25px;
				color: #333;
			}
		}
		&:after { @include clear-after(); }
	}
}

body#message {
	
	.icon-top {
		padding: 5px 0 15px 0;
		text-align: center;
		
		.fa {
			font-size: 70px;
			&.smaller { padding-top: 10px; font-size: 60px; }
		}
	}
	h2 {
		margin-bottom: 15px;
		text-align: center;
		font-size: 20px;
		font-weight: 400;
	}
	p {
		margin-bottom: 15px;
		text-align: center;
		&:last-child { margin-bottom: 5px; }
	}
	
}