#example-ad {
	width: 200px;
	height: 180px;
	display: block;
	text-align: center;
	background: #e1e1e1;
	font-size: 20px;
	font-weight: 300;
	color: #999;
	
}

#example-ad.header {
	width: 728px;
	height: 18px;
	margin: 15px auto 0 auto;
	padding: 37px 0 35px 0;
}

#example-ad.sidebar {
	width: 250px;
	height: 30px;
	
	padding: 85px 0;
	/*padding: 37px 0 35px 0;*/
}

















* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	min-width: 1040px;
	font: 13px/1em 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	background: #f3f3f3;
}

li {
	list-style: none;
}

a, a:active, a:visited {
	text-decoration: none;
}
a:hover {
	
}

a, input, textarea {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.left {
	float: left !important;
}
.right {
	float: right !important;
}
.clear {
	clear: both;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

label {
	cursor: pointer;
}

#header {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background: #fff;
}

#header #logo {
	float: left;
	margin-top: 14px;
}

#header h2.slogan {
	float: left;
	padding: 27px 0 27px 20px;
	font: 14px/1em Georgia, Arial, sans-serif;
	font-style: italic;
	color: #bbb;
	
	font-weight: normal;
}

#banner {
	/*width: 1000px;*/
	
	width: 100%;
	
	height: 180px;
	margin: 0 auto;
	
	display: block;
	background: url(../img/banner.jpg) no-repeat center center fixed;\
	
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	
	/*margin-top: 15px;*/
	
	color: #fff;
	text-align: center;
	
	/*padding: 70px 20px;*/
	/*padding: 25px 25px;*/
	
	/*-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
}

#banner .top {
	text-align: left;
	
	/*padding: 25px;*/
	padding: 25px 0;
	
	/*background: rgba(0,0,0,0.4);*/
	
	
	border-bottom: 1px solid rgba(255,255,255,0.1);
	
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
	
}
#banner .tagline {
	
	
	padding: 60px 0;
	
	/*padding: 45px 0;*/
	
	
	/* fix this */
	/*position: relative;
	top: -75px;*/
	
	/*display: inline-block;*/
	
}

#banner h1 {
	font-weight: 300;
	font-size: 45px;
	
	
	/*padding: 15px;*/
	display: inline-block;
	
	/*position: relative;
	top: 65px;*/
	
	
	
	text-transform: uppercase;
	line-height: 34px;
	
	/*background: rgba(0,0,0,0.5);*/
}
#banner h3 {
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	opacity: 0.6;
	margin-top: 10px;
}

#sub {
	/*width: 1000px;*/
	/*width: 1000px;*/
	width: 100%;
	/*height: auto;*/
	height: 43px;
	margin: 0 auto;
	/*padding: 20px;*/
	background: #fff;
	text-align: center;
	/*-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;*/
	
	/*border-bottom: 2px solid #ffbc11;*/
	
	
}

#main {
	/*width: 1000px;
	height: auto;
	margin: 25px auto 0 auto;*/
	
	margin-top: 15px;
	
	width: 100%;
	
	/*padding: 15px 20px 20px 20px;*/
	background: #fff;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
}
#main .wrapper {
	padding: 15px 0;
}

#content {
	width: 720px;
	float: left;
}
#sidebar {
	width: 250px;
	padding-left: 30px;
	float: left;
}

#nav-user {
	float: right;
	padding:17px 0;
	font-weight: 400;
	font-size: 15px;
}
#nav-user li {
	float: left;
	margin-left: 10px;
}
#nav-user a {
	/*padding: 10px 15px;*/
	color: #333;
	text-decoration: none;
	
	font-size: 13px;
	
	display: block;
	
	border: 1px solid #fff;
	
	/*background:red;*/
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav-user a i { margin-right: 2px; }
#nav-user a:hover, #nav-user li.active a {
	/*background: rgba(0,0,0,0.6);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	/*background: rgba(0,0,0,0.3);*/
	border: 1px solid rgba(0,0,0,0.1);
}

#nav-main {
	/*float: right;*/
	
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}
#nav-main li {
	float: left;
}
#nav-main a {
	/*padding: 14px 35px 14px 35px;*/
	padding: 15px 35px;
	display: block;
	color: #333;
	text-align: center;
	/*border-bottom: 2px solid #fff;*/
}
#nav-main li:hover a, #nav-main li.active a {
	padding: 15px 35px 13px 35px;
	
	background: #f7f7f7;
}

#logo {
	width: 68px;
	height: 41px;
	/*margin: 15px 40px 14px 0;*/
	/*margin: 15px 0 14px 0;*/
	/*float: left;*/
	/*float: left;*/
	display: inline-block;
	text-indent: -99999px;
	background: url(../img/logo.png) no-repeat 0 0;
}

#nav-main .dark a { color: #333; }
#nav-main .red a { color: #ff3d00; }
#nav-main .yellow a { color: #ffbc11; }
#nav-main .green a { color: #699f54; }
#nav-main .blue a { color: #48a5c6; }

#nav-main li:hover a, #nav-main .active a { border-bottom: 2px solid #fff; }

#nav-main li:hover a, #nav-main .active a { background: #f7f7f7; border-color: #333; }
#nav-main .red:hover a, #nav-main .active.red a { background: #fff5f2; border-color: #ff3d00; }
#nav-main .yellow:hover a, #nav-main .active.yellow a { background: #fffcf3; border-color: #ffbc11; }
#nav-main .green:hover a, #nav-main .active.green a { background: #f7faf6; border-color: #699f54; }
#nav-main .blue:hover a, #nav-main .active.blue a { background: #f6fafc; border-color: #48a5c6; }

#page-head {
	margin-bottom: 15px;
	padding-bottom: 15px;
	
	
	border-bottom: 1px dashed #ddd;
}
#page-head .buttons {
	float: right;
}
#page-head .buttons a {
	padding: 12px 12px;
	
	
	margin-left: 10px;
	float: left;
	
	
	
	display: block;
	color: #333;
	background: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#page-head .buttons a:hover {
	background: #efefef;
}
#page-head .buttons a.green {
	color: #fff;
	background: #6dc025;
}
#page-head .buttons a.green:hover {
	background: #65b222;
}
#page-head h2 {
	float: left;
	font-weight: 600;
	font-size: 25px;
	
	padding: 10px 0;
}

#search-head {
	display: none;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ddd;
}
#search-head.solo {
	text-align: center;
}
#search-head input, #search-head select {
	margin-right: 5px;
}
#search-head .text {
	padding: 8px;
}

input.text {
	width: 250px;
	padding: 10px;
	font: 13px 'Open Sans', Arial, sans-serif;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.text:focus {
	border-color: #bbb;
}
input.text.small {
	width: 150px;
	padding: 8px;
}

.button, .pagination a, .pagination li.active {
	display: inline-block;
	margin-right: 3px;
	padding: 10px 10px;
	cursor: pointer;
	font: 13px/1em 'Open Sans', Arial, sans-serif;
	color: #777;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.button:hover {
	color: #333;
	border-color: #bbb;
}

.post {
	height: 200px;
	display: block;
	margin-bottom: 15px;
	position: relative;
	padding: 5px;
	background: #eee;
}
.post .img {
	width: 710px;
	height: 200px;
}
.post .info {
	width: 696px;
	display: inline-block;
	padding: 7px;
	position: absolute;
	bottom: 5px;
	color: #fff;
	background: rgba(0,0,0,0.7);
}
.post .info h2 {
	width: 380px;
	float: left;
	padding: 10px 0;
	font-size: 17px;
	line-height: 1em;
	font-weight: 400;
	overflow: hidden;
}
.post .info h2 a {
	color: #fff;
	text-decoration: none;
}
.post .avatar {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 10px;
	border: 2px solid #fff;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.post .avatar img {
	width: 32px;
	height: 32px;
}
.post ul {
	float: right;
}
.post li {
	float: left;
	margin-left: 10px;
	padding: 12px 0;
	font-size: 12px;
}
.post li a {
	
}
.post a.dl {
	padding: 8px;
	display: inline;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	background: #edba4e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.post a.dl:hover {
	background: #eaae2f;
}
.post a.dl span {
	margin-right: 5px;
}

#user-details {
	margin-bottom: 15px;
}
#user-details .avatar {
	width: 64px;
	height: 64px;
	float: left;
}
#user-details img {
	width: 64px;
	height: 64px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#user-details .info {
	width: 175px;
	float: left;
	margin-left: 11px;
}
#user-details .info p {
	margin: 0;
	padding: 9px 0 11px;
	
}
#user-details a.button {
	padding-top: 8px;
	padding-bottom: 8px;
}

#sidebar .links {
	margin-bottom: 15px;
}
#sidebar .links a {
	display: block;
	margin-bottom: 5px;
	padding: 15px 10px;
	color: #333;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#sidebar .links a:hover {
	background: #f7f7f7;
}
#sidebar .links i {
	margin-right: 3px;
}


.post-sort {
	display: block;
	margin-bottom: 15px;
	text-align: center;
}
.post-sort a {
	margin: 0 2px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	background: #38556c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.post-sort a:hover {
	background: #2c4356;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	
	#logo {
		background-image: url(../img/logo2x.png);
		background-size: 68px 41px;
	}
	
}