a.dl {
	display: block;
	padding: 8px 10px 8px 12px;
	color: #724a03;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	font-weight: 700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d68b05;
	background: #f1e466;
	background: -moz-linear-gradient(top, #f1e466 0%, #fbc057 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e466), color-stop(100%,#fbc057));
	background: -webkit-linear-gradient(top, #f1e466 0%,#fbc057 100%);
	background: -o-linear-gradient(top, #f1e466 0%,#fbc057 100%);
	background: -ms-linear-gradient(top, #f1e466 0%,#fbc057 100%);
	background: linear-gradient(to bottom, #f1e466 0%,#fbc057 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e466', endColorstr='#fbc057',GradientType=0 );
	
	span {
		width: 32px;
		display: inline-block;
		margin-left: 6px;
		font-weight: 700;
		color: #a46b04;
		text-align: right;
	}
	.fa { margin-right: 3px; }
}
a.dl:hover {
	background: #f7efa4;
	background: -moz-linear-gradient(top,  #f7efa4 0%, #fbc057 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7efa4), color-stop(100%,#fbc057));
	background: -webkit-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: -o-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: -ms-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: linear-gradient(to bottom,  #f7efa4 0%,#fbc057 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7efa4', endColorstr='#fbc057',GradientType=0 );
}
a.dl.silver {
	color: #333;
	border-color: #bbb;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ddd));
	background: -webkit-linear-gradient(top, #fefefe 0%, #ddd 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #ddd 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #ddd 100%);
	background: linear-gradient(to bottom, #fefefe 0%, #ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dddddd',GradientType=0 );
}

.bttn {
	display: inline-block;
	margin-right: 4px;
	padding: 10px 12px;
	cursor: pointer;
	color: #555;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #f7f7f7;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	.fa { margin-right: 3px; }
}
.bttn:hover {
	color: #333;
	background: #efefef;
}
.bttn.large {
	padding: 13px 15px;
}
.bttn.green {
	color: #fff;
	background-color: #6cc220;
}
.bttn.green:hover {
	background-color: #64b31e;
}
.bttn.purple {
	color: #fff;
	background-color: #312293;
}
.bttn.purple:hover {
	background-color: #271c77;
}

.bttn.login {
	width: 160px;
	margin: 0;
}
.bttn.register {
	width: 200px;
	margin: 0;
}
.bttn.full {
	width: 100%;
}