.message {
	display: block;
	margin-bottom: 15px;
	padding: 15px 15px;
	overflow: hidden;
	color: #333;
	background: #eee;
	border-left: 4px solid #666;
	word-wrap: break-word;
	
	a {
		color: #333;
		text-decoration: underline;
	}
}

.message.error {
	color: #db1a03;
	background: #fff1ef;
	border-color: #fd7969;
	
	a { color: #db1a03; }
}
.message.warning {
	color: #b07102;
	background: #fff9dc;
	border-color: #fdb83d;
	
	a { color: #b07102; }
}
.message.success {
	color: #597e0d;
	background: #f4fce3;
	border-color: #85bb14;
	
	a { color: #597e0d; }
}
.message.info {
	color: #0183c4;
	background: #e7f7ff;
	border-color: #019ae6;
	
	a { color: #0183c4; }
}