* {
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@import 'normalize';

html {
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button, select {
	font: 13px 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	color: #111;
}

body {
	min-width: 1030px;
	background: #222;
	color: #111;
}

a {
	color: #337ab7;
	text-decoration: none;
}
a:hover {
	color: #ffbc11;
}

a:hover, input, textarea, button {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

/*ul {
	display: table-row;
}*/
li {
	list-style: none;
}

li .fa {
	margin-right: 2px;
}

ul.list li {
	padding-left: 5px;
	list-style: circle;
	list-style-position: inside;
}

label {
	cursor: pointer;
}

input[type="text"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="text"], input[type="password"] {
	display: inline-block;
	margin-right: 3px;
	padding: 10px;
	background: #fff;
	font: 13px 'Open Sans', Helvetica, Arial, sans-serif;
	border: 1px solid #ddd;
	@include border-radius(4px);
}
input[type="text"]:focus, input[type="password"]:focus {
	border-color: #bbb;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.wrapper {
	width: 1050px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	color: #111;
	display: inline-block;
	font: 40px 'Changa One', sans-serif;
	line-height: 30px;
	text-transform: uppercase;
}
a.logo {
	color: #111;
}

#top {
	width: 100%;
	height: 50px;
	z-index: 99999;
	background: #fff;
	background: rgba(255,255,255,.9);
	
	.logo {
		position: relative;
		float: left;
		top: 9px;
	}	
}

#header {
	width: 100%;
	height: 200px;
	color: #fff;
	background: #111 url(../img/header.jpg) no-repeat center 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	#main-title {
		height: 150px;
		padding: 44px 0;
		text-align: center;
	}
	h1 {
		font-size: 45px;
		font-weight: 700;
		line-height: 45px;
		text-transform: uppercase;
	}
	h1 span {
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
	}
}

#nav-main {
	float: left;
	padding-left: 10px;
	position: relative;
	top: 9px;
	
	a {
		font-weight: 700;
		color: #111;
		font-size: 15px;
		text-transform: uppercase;
		float: left;
		display: block;
		padding: 5px 10px;
		@include border-radius(4px);
		border: 1px solid transparent;
		margin-left: 8px;
	}
	a:hover, a.active { border: 1px solid #333; }
	
	a.red { color:#BC1334; }
	a.yellow { color:#ECBE13; }
	a.green { color:#4DB029; }
	a.pink { color:#D4487E; }
	a.blue { color:#0096AA; }
	a.purple { color:#5859A7; }
	
	a.red:hover, a.red.active { border-color:#BC1334; }
	a.yellow:hover, a.yellow.active { border-color:#ECBE13; }
	a.green:hover, a.green.active { border-color:#4DB029; }
	a.pink:hover, a.pink.active { border-color:#D4487E; }
	a.blue:hover, a.blue.active { border-color:#0096AA; }
	a.purple:hover, a.purple.active { border-color:#5859A7; }
	
	a.active { background: rgba(0, 0, 0, .05); }
	a.red.active { background: rgba(188, 19, 52, .05); }
	a.yellow.active { background: rgba(236, 190, 19, .05); }
	a.green.active { background: rgba(77, 176, 41, .05); }
	a.pink.active { background: rgba(212, 72, 126, .05); }
	a.blue.active { background: rgba(0, 150, 170, .05); }
	a.purple.active { background: rgba(88, 89, 167, .05); }
	
}

#nav-user {
	float: right;
	position: relative;
	top: 16px;
	
	a {
		float: left;
		display: block;
		margin-left: 20px;
		font-size: 13px;
		font-weight: 400;
		color: #666;
	}
	a:hover {
		color: #111;
	}
	a.create {
		color: #222;
		font-weight: 600;
	}
	.fa { margin-right: 3px; }
	.tipr_container_bottom { margin-top: 14px; }
}
#nav-user.tabs {
	top: 9px;
	
	a {
		width: 37px;
		text-align: center;
		color: #666;
		font-size: 15px;
		float: left;
		display: block;
		padding: 5px 0;
		border: 1px solid transparent;
		margin-left: 5px;
		@include border-radius(4px);
	}
	a:hover, a.active {
		color: #333;
		border-color: #555;
	}
	a.active {
		background: rgba(0, 0, 0, .05);
	}
	.fa { margin-right: 0; }
}

.avrt-wide {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	background: #f3f3f3;
}
.avrt {
	width: 728px;
	height: 90px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ddd;
}

#main {
	padding: 15px 0;
	background: #fff;
}

#content {
	width: 700px;
	float: left;
}
#content.full {
	width: 1000px;
	float: auto;
}

.posts {
	
	.post {
		margin-bottom: 20px;
		
		.img {
			width: 700px;
			height: 200px;
			display: block;
			position: relative;
			
			img {
				border: 1px solid #666;
				border-bottom: none;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			.featured {
				position: absolute;
				top: 0;
				left: 0;
				border: 1px solid #666;
				font-size: 12px;
				font-weight: 600;
				padding: 6px 10px;
				color: #222;
				text-shadow: 0 1px 0 rgba(255,255,255,0.5);
				text-transform: uppercase;
				background: #f1e466;
				background: -moz-linear-gradient(top, #f1e466 0%, #fbc057 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e466), color-stop(100%,#fbc057));
				background: -webkit-linear-gradient(top, #f1e466 0%,#fbc057 100%);
				background: -o-linear-gradient(top, #f1e466 0%,#fbc057 100%);
				background: -ms-linear-gradient(top, #f1e466 0%,#fbc057 100%);
				background: linear-gradient(to bottom, #f1e466 0%,#fbc057 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e466', endColorstr='#fbc057',GradientType=0 );
				-webkit-border-top-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-bottomright: 5px;
				border-top-left-radius: 5px;
				border-bottom-right-radius: 5px;
				
				.fa { margin-right: 2px; }
			}
		}
		
		.overlay {
			width: 100%;
			height: 50px;
			padding: 0 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			color: #fff;
			overflow: hidden;
			background: rgba(0,0,0,.5);
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			
			.avatar {
				width: 34px;
				height: 34px;
				position: relative;
				top: 8px;
				float: left;
				display: block;
				border: 2px solid #fff;
				@include border-radius(16px);
			}
			h2 {
				width: 638px;
				float: left;
				margin-left: 8px;
				padding: 12px 0;
				text-shadow: 1px 1px 0px #111;
				font-size: 18px;
				font-weight: 300;
				word-wrap: break-word;
				
				a {
					color: #fff;
					text-decoration: none;
				}
				a:hover {
					color: #ffc33a;
				}
			}
			h2.multi {
				padding: 9px 0;
				font-size: 14px;
				line-height: 1.2em;
			}
			h2.multi.solo {
				padding: 17px 0;
			}
		}
		
		.info {
			height: 46px;
			background: #eee;
			padding: 5px 5px 5px 12px;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			
			.link {
				float: right;
			}
			ul {
				float: left;
			}
			li {
				float: left;
				margin-right: 15px;
				font-size: 12px;
				color: #333;
				padding: 7px 0;
				
				i { color: #4d4d4d; margin-right: 3px; }
			}
			li.solo {
				position: relative;
				top: 3px;
			}
			li b {
				font-weight: 700;
				font-size: 14px;
				color: #140b7a;
				margin-right: 1px;
			}
			
		}
		
	}
	
}
.posts.compact {
	
	.img {
		height: 50px;
	}
	.overlay {
		background: rgba(0,0,0,0.7);
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		
		h2 {
			width: 580px;
		}
	}
	.featured {
		top: 10px !important;
		right: 10px;
		left: auto !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.status {
		width: 60px;
		text-align: center;
		position: absolute;
		top: 10px;
		right: 5px;
		font-size: 12px;
		font-weight: 600;
		padding: 6px 10px;
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		border:1px solid #bbb;
		background: #fefefe;
		background: -moz-linear-gradient(top, #fefefe 0%, #ddd 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ddd));
		background: -webkit-linear-gradient(top, #fefefe 0%, #ddd 100%);
		background: -o-linear-gradient(top, #fefefe 0%, #ddd 100%);
		background: -ms-linear-gradient(top, #fefefe 0%, #ddd 100%);
		background: linear-gradient(to bottom, #fefefe 0%, #ddd 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dddddd',GradientType=0 );
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.status.online {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		border-color: #34740e;
		background-color: #4ba614;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
		background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
		background-image: -moz-linear-gradient(top, #4ba614, #008c00);
		background-image: -ms-linear-gradient(top, #4ba614, #008c00);
		background-image: -o-linear-gradient(top, #4ba614, #008c00);
		background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
	}
	.status.offline {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		border-color: #df0909;
		background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
		background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
		background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
		background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
		background-image: -o-linear-gradient(top, #f62b2b, #d20202);
		background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
	}
	
}

#server-list {
	.featured {
		right: 70px !important;
	}
}

#sidebar {
	width: 300px;
	float: right;
	
	.user {
		height: 64px;
		margin-bottom: 20px;
		
		.avatar {
			margin-right: 15px;
			float: left;
			
			img {
				width: 64px;
				height: 64px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				border: 1px solid #666;
			}
		}
		.info {
			width: 220px;
			padding: 3px 0;
			font-size: 12px;
			display: inline-block;
			
			p {
				margin-top: 5px;
				margin-bottom: 0;
			}
			.bttn {
				margin-top: 8px;
				padding: 8px 12px;
			}
		}
	}
	#nav-side {
		padding: 20px 0 10px 0;
		margin-bottom: 20px;
		border-top: 1px dashed #ddd;
		border-bottom: 1px dashed #ddd;
		
		li { 
			float: left;
		}
		a {
			width: 145px;
			display: block;
			float: left;
			margin-right: 10px;
			padding: 12px 10px;
			margin-bottom: 10px;
			font-size: 12px;
			color: #232323;
			background: #f7f7f7;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			position: relative;
		}
		a:hover {
			color: #000;
			background: #efefef;
		}
		li:nth-child(2n+2) a {
			margin-right: 0;
		}
		.num {
			width: 30px;
			text-align: center;
			position: absolute;
			top: 8px;
			right: 8px;
			padding: 4px 4px 5px 4px;
			color: #fff;
			font-weight: 700;
			font-size: 11px;
			background: #ff3c00;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
	}
	
	.avrt {
		width: 300px;
		height: 600px;
	}
}

#page-title {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ddd;
	
	h1 {
		padding: 7px 0;
		display: inline-block;
		font-weight: normal;
		font-size: 25px;
		line-height: 25px;
	}
	.links {
		height: 39px;
		float: right;
		
		a {
			float: left;
			margin-left: 8px;
			margin-right: 0;
		}
	}
}

.search {
	display: none;
	margin-bottom: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 1px dashed #ddd;
	
	input[type="text"] { width: 300px; }
	.bttn { padding-left: 15px; padding-right: 15px; }
}
.search.visible {
	display: block;
}

.pagination {
	width: 100%;
	display: inline-block;
	text-align: center;
	
	.pages {
		display: inline-block;
	}
	
	a {
		float: left;
		padding: 6px 12px;
		display: inline-block;
		color: #333;
		font-weight: 700;
		background: #f1f1f1;
		border: 1px solid #bbb;
		border-right: none;
	}
	a:hover {
		background: #fff;
	}
	a.active {
		color: #fff;
		background: #222;
	}
	a.prev, a.next {
		
	}
	a:first-child {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	a:last-child {
		border-right: 1px solid #bbb;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomright: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
.pagination.right {
	width: auto;
	float: right;
}

.catnav {
	width: 100%;
	height: 32px;
	display: block;
	margin-bottom: 15px;
	
	form.cat {
		float: left;
	}
	.chosen-container {
		margin-right: 3px;
		position: relative;
		top: 3px;
	}
}

#footer {
	padding: 20px 0;
	color: #8b8b8b;
	background: #222;
	
	p {
		float: left;
		font-size: 12px;
		line-height: 22px;
		
		span {
			position: relative;
			font: 14px 'Changa One', sans-serif;
			line-height: 20px;
			text-transform: uppercase;
		}
	}
	p.side {
		float: right;
	}
	a {
		color: #8b8b8b;
	}
	a:hover {
		color: #fff;
	}
}

#modal {
	
	.wrapper {
		width: 300px;
		padding: 0;
		background: #fff;
		@include border-radius(5px);
	}
	.title {
		padding: 15px 0;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
		
		h2 {
			font-size: 20px;
			font-weight: 600;
		}
	}
	.body {
		padding: 15px;
	}
	.footer {
		text-align: center;
		border-top: 1px dashed #e5e5e5;
		
		a {
			width: 149px;
			display: block;
			float: left;
			
			padding: 14px 0;
			
			color: #777;
		}
		a:hover {
			color: #111;
		}
		a.register {
			color: #312293;
			font-weight: 700;
			border-right: 1px dashed #e5e5e5;
		}
		a.full {
			width: 300px;
		}
	}
	.form {
		.half {
			width: 277px;
			float: left;
			margin-right: 15px;
		}
		.half.last {
			margin-right: 0;
		}
	}
}
#modal.wide .wrapper {
	width: 600px;
	
	.footer a.full {
		width: 600px;
	}
}

#boxed {
	min-width: 300px;
	background: #111 url(../img/header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	.wrapper.logo-wrap {
		padding: 30px 0;
		text-align: center;
		background: none;
	}
	.logo {
		color: #fff;
		font-size: 50px;
		line-height: 40px;
	}
}

.reg-features {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #e5e5e5;
	
	div {
		width: 142px;
		float: left;
		text-align: center;
		color: #333;
		
		.fa {
			display: block;
			font-size: 25px;
			margin-bottom: 5px;
			color: #312293;
		}
	}
	
}

.form {
	label {
		margin-bottom: 5px;
		display: inline-block;
		color: #999;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.group {
		margin-bottom: 15px;
		
		
		input[type="text"], input[type="password"] {
			width: 100%;
			display: block;
		}
		
		
		
	}
	.check {
		display: inline-block;
		margin-left: 8px;
		font-size: 12px;
		
		label {
			color: #888;
			text-transform: none;
			font-weight: 400;
			font-size: 12px;
		}
	}
}

.sort {
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
	
	a {
		margin: 0 3px;
	}
	a.active {
		color: #fff;
		background: #222;
	}
	span {
		color: #999;
		margin-left: 3px;
	}
}

.delconf, .rejconf {
	display: none;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 15px;
}

.form .main-inputs {
	padding: 10px;
	margin-bottom: 15px;
	background: #f7f7f7;
}
.form .main-inputs textarea {
	width: 100%;
	height: 150px;
}
.form .main-inputs p {
	margin: 10px 0 0 0;
	font-size: 12px;
	color: #444;
}
.form .main-inputs p a {
	color: #777;
	text-decoration: none;
}
.form .main-inputs p a:hover {
	color: #222;
}

.form .main-inputs h4 {
	height: 1px;
	background: #f7f7f7;
	margin: 15px 0 25px 0;
	border-bottom: 1px solid #ddd;
	display: block;
	position: relative;
	text-align: center;
}
.form .main-inputs h4 span {
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #f7f7f7;
	text-transform: uppercase;
	color: #aaa;
	font-size: 11px;
}

.form .inputs {
	padding: 5px 0 10px 0;
}

.form .input {
	position: relative;
	padding-bottom: 10px;
}

.input.half {
	width: 340px;
	margin-right: 20px;
	float: left;
	padding-bottom: 5px;
}
.input.half.last {
	margin-right: 0;
}
.input.half .text, .input.half .chosen-container {
	width: 340px !important;
}

.buttons-cont {
	padding-top: 10px;
	text-align: center;
}

.form_helper {
	display: none;
	font-size: 11px;
	color: #999;
	padding-top: 5px;
}
.form_helper a {
	color: #555;
	text-decoration: underline;
}
.form_helper a:hover {
	color: #222;
}

.form .rules {
	margin-bottom: 15px;
	border: 1px dashed #ddd;
	padding: 15px;
}

.form input.title {
	width: 100%;
	font-size: 18px;
}
.form input.title.with-badge {
	padding-right: 95px;
}
.form .badge-type.title {
	top: 8px;
	right: 8px;
	left: auto;
	background: #fff;
	opacity: 1;
	position: absolute;
}

.form-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(255,255,255,0.6);
}

.badge-type {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 6px 8px 6px 5px;
	background: #333;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.9;
	cursor: pointer;
	border: 1px solid #333;
}
.badge-type i {
	width: 15px;
	text-align: center;
}

.badge-type.map { color: #ff3d00; border-color: #ff3d00; }
.badge-type.seed { color: #ffbc11; border-color: #ffbc11; }
.badge-type.texture { color: #6dc025; border-color: #6dc025; }
.badge-type.mod { color: #48a5c6; border-color: #48a5c6; }
.badge-type.server { color: #a56ee5; border-color: #a56ee5; }

.main-inputs .customfile {
	float: left;
	margin-bottom: 10px;
}



.customfile {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 10px 15px 10px;
	background: #f7f7f7;
	border: 1px dashed #ddd;
}
.customfile-input {
	width: 95%;
	height: 80px;
	position: absolute;
	cursor: pointer; 
	background: transparent;
	border: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index: 99;
	top: 0;
	left: 0;
}

.customfile .remove {
	z-index: 99;
	color: #555;
	text-decoration: none;
	position: absolute;
	top: 13px;
	right: 5px;
	margin: auto;
	opacity: 0.5;
	padding: 3px 6px;
}
.customfile .remove:hover {
	opacity: 1;
}


.customfile-feedback {
	display: block;
	margin: 2px 0;
	font-size: 13px;
	color: #777;
	padding: .3em 0;
}
.customfile-feedback-populated {
	color: #333;
	font-style: normal;
	font-weight: bold;
}
.customfile-button {
	border: 1px solid #aaa;
	font-weight: bold;
	float: right;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	color: #111;
	margin-right: 18px;
}


.customfile-bad {
	background-color: #fff1ef;
	border-color: #fd7969;
}
.customfile-bad .customfile-feedback, .customfile-bad .customfile-feedback-populated {
	color: #db1a03;
}
.customfile-good {
	background-color: #f4fce3;
	border-color: #85bb14;
}
.customfile-good .customfile-feedback, .customfile-good .customfile-feedback-populated {
	color: #597e0d;
}

.customfile-msg {
	margin-top: 5px;
	font-weight: bold;
	display: none;
	color: #111;
}
.customfile-msg.error {
	color: #db1a03;
}

#profile {
	
}
#profile .section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ddd;
}
#profile .head .avatar {
	width: 110px;
	height: 110px;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}
#profile .usr-info {
	width: 590px;
	height: 110px;
	float: left;
	padding: 6px 0 0 15px;
}
#profile .usr-info h1 {
	font-weight: normal;
	font-size: 27px;
	line-height: 27px;
	margin-bottom: 8px;
}
#profile .usr-info h5 {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
#profile .actions {
	padding-top: 9px;
}
#profile h2 {
	font-size: 17px;
	color: #666;
	font-weight: normal;
	margin-bottom: 15px;
	line-height: 17px;
}
#profile .links {
	padding-top: 10px;
}
#profile .links a.youtube {
	color: #ec1c03;
}
#profile .links a.twitter {
	color: #48a5c6;
}

#profile .posts h2 {
	margin-bottom: 20px;
}
#profile .posts h2 span {
	color: #bbb;
}

span.rank {
	display: inline-block;
	padding: 1px 6px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	background: #333;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	top: -1px;
	margin-right: 4px;
}
span.rank .fa {
	width: 12px;
	text-align: center;
	margin-right: 3px;
}
span.rank.admin { background: #ff3d00; }
span.rank.mod { background: #ffbc11; }
span.rank.verified { background: #6dc025; }
span.rank.author { background: #48a5c6; }

#home-slider {
	width: 680px;
	height: 250px;
	float: left;
	display: block;
}

#home-posts {
	padding-top: 20px;
	float: left;
}
#home-posts .half {
	width: 490px;
	margin-right: 20px;
	float: left;
}
#home-posts .half.last {
	margin-right: 0;
}
#home-posts .box {
	background: #f7f7f7;
	padding: 15px;
	margin-bottom: 20px;
}
#home-posts .box h2 {
	font-size: 15px;
	font-weight: normal;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#home-posts .box h2 i {
	font-size: 13px;
}

#home-posts .post {
	margin-bottom: 10px;
	background: #e9e9e9;
}
#home-posts .img {
	width: 138px;
	height: 88px;
	display: block;
	float: left;
	background: #fff;
	padding: 3px;
	border: 1px solid #ccc;
}
#home-posts .info {
	width: 322px;
	height: 88px;
	float: left;
	padding: 10px;
	font-size: 12px;
}
#home-posts .info h3 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
}
#home-posts .info a {
	color: #2467b5;
	text-decoration: none;
}
#home-posts .info a:hover {
	color: #e9a22d;
}
#home-posts .info p {
	margin-bottom: 5px;
}
#home-posts .info p a {
	color: #000;
	text-decoration: underline;
}
#home-posts .info li {
	color: #333;
	float: left;
	margin-right: 15px;
	text-align: center;
}
#home-posts .info i {
	color: #555;
	margin-right: 2px;
}
#home-posts .info strong {
	color: #140b7a;
	font-size: 13px;
}
#home-posts .bttn-more {
	padding-top: 5px;
	text-align: center;
}
#home-posts a.view-bttn.dl {
	width: auto;
	display: inline-block;
	position: static;
	text-transform: none;
	text-align: center;
}

.advrt.home-slide {
	width: 300px;
	height: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

@import 'buttons';
@import 'errors';

@import 'plugins/tipr';
@import 'plugins/dropdown';
@import 'plugins/flexslider';
//@import 'plugins/fileinput';
@import 'plugins/chosen';
@import 'plugins/modal';