@import 'normalize';

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-font-smoothing: antialiased;
}
body {
	font: 13px/1.5em Arial, sans-serif;
	background: #222;
	color: #000;
}

p {
	margin-bottom: 10px;
}

ol {
	position: relative;
	left: 20px;
}

input, textarea {
	font: 13px Arial, sans-serif;
}

input.text {
	width: 340px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input.text:focus {
	border-color: #bbb;
}

textarea {
	width: 400px;
	height: 100px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	resize: vertical;
	line-height: 1.5em;
}
textarea.visual {
	display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear { clear: both; }

ul {
	list-style: none;
}
ul.list {
	padding-left: 20px;
	list-style: circle;
	list-style-position: outside;
}
ul.list li {
	padding: 1px 0;
}

button#submit {
	padding: 12px 15px;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	background-color: #312293;
	border: 1px solid #312293;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
button#submit:hover {
	background-color: #271c77;
	border-color: #271c77;
}

button#submit.save {
	background-color: #6cc220;
	border-color: #6cc220;
}
button#submit.save:hover {
	background-color: #64b31e;
	border-color: #64b31e;
}

button#submit.disabled {
	background-color: #eee;
	border-color: #eee;
	color: #333;
}
button#submit.disabled:hover {
	background-color: #ddd;
	border-color: #ddd;
}

button#submit i {
	margin-right: 5px;
}

.buttons-cont {
	margin: 15px 0 10px 0;
	text-align: center;
}

.container {
	word-wrap: break-word;
}

.message {
	display: block;
	margin-bottom: 15px;
	padding: 15px 10px;
	overflow: hidden;
	color: #444;
	background-color: #eee;
	border-left: 3px solid #666;
}
.message a {
	color: #db1a03;
	text-decoration: underline;
}
.message .indent {
	/*width: 226px;*/
	vertical-align: top;
	display: inline-block;
}
.message span.title {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
.message.error {
	color: #db1a03;
	background-color: #fff1ef;
	border-color: #fd7969;
}
.message.error a {
	color: #db1a03;
}

.message.warning {
	color: #b07102;
	background-color: #fff9dc;
	border-color: #fdb83d;
}
.message.warning a {
	color: #b07102;
}

.message.success {
	color: #597e0d;
	background-color: #f4fce3;
	border-color: #85bb14;
}
.message.success a {
	color: #597e0d;
}
.message.info {
	color: #0183c4;
	background-color: #e7f7ff;
	border-color: #019ae6;
}
.message.info a {
	color: #0183c4;
}

.logo-text {
	display: inline-block;
	font: 40px/1.1em 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.logo-text a, .logo-text a:hover {
	color: #fff;
	text-decoration: none;
}



a {
	color: #2c1f85;
	text-decoration: underline;
}
a:hover {
	color: #e9a22d;
}

a, input, textarea, button {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}


html {
	min-width: 1040px;
}
.wrapper {
	width: 1040px;
	height: auto;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	width: 100%;
	height: 235px;
	color: #fff;
	text-align: center;
	background: url(../images/banner.jpg) no-repeat center 40%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#header a {
	color: #fff;
	text-decoration: none;
}

/*.nav-border {
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.4);
}*/
.nav-user {
	
	
	float: right;
	
	background: rgba(0,0,0,0.3);
	
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	margin-top: 10px;
	
	
}
.nav-user li {
	float: left;
}
.nav-user a {
	
	
	opacity: 0.5;
	
	display: block;
	
	
	padding: 10px 15px;
	
	/*background: rgba(0,0,0,0.4);*/
	
	
	border: 1px solid transparent;
	
	
}
.nav-user a:hover {
	
	opacity: 1;
	
	
	background: rgba(255,255,255,0.2);
	
	border-color: #fff;
	
}
.nav-user i {
	margin-right: 4px;
}
.nav-user i.solo {
	margin-right: 0;
	width: 15px;
}
.nav-user a.reg:hover {
	border-color: #ffbc11;
	background: rgba(255,188,17,0.2);
}

.nav-user a.first {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.nav-user a.last {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.nav-user .tipr_container_bottom {
	margin-top: 20px;
}

.tagline {
	padding: 60px 0;
	
}
.tagline h1 {
	font: 50px/0.8em 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.tagline h1 a {
	display: inline-block;
}
.tagline h2 {
	margin-top: 8px;
	font: 13px 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0.6;
}

#nav {
	width: 100%;
	height: 49px;
	margin: 0 auto;
	background: rgba(0,0,0,0.3);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#nav ul {
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}
#nav li {
	float: left;
}
#nav a {
	padding: 15px 35px;
	display: block;
	color: #fff;
	text-align: center;
	
	
}
#nav a:hover {
	background: rgba(0,0,0,0.4);
	color: #fff;
}
#nav .active a {
	background: #f3f3f3;
	color: #333;
}
#nav .home a {
	padding-left: 25px;
	padding-right: 25px;
}

#nav .red a, 	#nav .red a:hover { color: #ff3d00; }
#nav .yellow a,	#nav .yellow a:hover { color: #ffbc11; }
#nav .green a, 	#nav .green a:hover { color: #6dc025; }
#nav .blue a, 	#nav .blue a:hover { color: #48a5c6; }
#nav .purple a,	#nav .purple a:hover { color: #a56ee5; }

#nav .active a, #nav .active a:hover { color: #333; }

#header-advrt {
	padding: 15px 0 10px 0;
	background: #f3f3f3;
	text-align: center;
}

#side-advrt {
	padding: 0 0 15px 0;
	text-align: center;
}

.advrt {
	width: 300px;
	height: 600px;
	display: block;
	text-align: center;
	background: #e1e1e1;
}

.advrt.header {
	width: 728px;
	height: 90px;
	display: inline-block;
}
.advrt.home-slide {
	width: 300px;
	height: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}


#body {
	padding: 20px 0;
	background: #fff;
}


#page-title {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ddd;
}
#page-title h2 {
	display: inline-block;
	font-weight: normal;
	font-size: 25px;
	padding: 10px 0 15px 0;
	line-height: 10px;
}
#page-title .tabs {
	float: right;
	position: relative;
	top: -4px;
}
#page-title .tabs a {
	margin-left: 6px;
	margin-right: 0;
}
#page-title .tabs a.active {
	color: #fff;
	background: #333;
}
#page-title .tabs a .fa {
	margin-right: 3px;
}


.bttn {
	display: inline-block;
	margin-right: 3px;
	padding: 10px 12px;
	cursor: pointer;
	color: #555;
	text-decoration: none;
	background: #f7f7f7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.bttn:hover {
	color: #333;
	background: #efefef;
}
.bttn .fa {
	margin-right: 4px;
}
.bttn .fa.no-space {
	width: 20px;
	text-align: center;
	margin-right: 0;
}

.bttn.purple {
	color: #fff;
	background: #312293;
}
.bttn.purple:hover {
	color: #fff;
	background: #271c77;
}

.bttn.green {
	color: #fff;
	background: #6cc220;
}
.bttn.green:hover {
	color: #fff;
	background: #64b31e;
}

.bttn.red {
	color: #fff;
	background: #fc3d26;
}
.bttn.red:hover {
	color: #fff;
	background: #ec1c03;
}

#main {
	width: 700px;
	float: left;
}
#sidebar {
	width: 300px;
	margin-left: 20px;
	float: left;
}


#sidebar .user-detail {
	margin-bottom: 20px;
}
#sidebar .avatar {
	width: 64px;
	height: 64px;
	display: block;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}
#sidebar .avatar img {
	width: 63px;
	height: 63px;
}
#sidebar .info {
	width: 205px;
	margin-left: 11px;
	display: inline-block;
	
	
}
#sidebar .info p {
	margin: 0;
	padding: 3px 0 7px 0;
}

#sidebar a.bttn {
	padding: 8px 12px;
}

#sidebar .links {
	
}
#sidebar .links ul {
	
}
#sidebar .links li {
	margin-bottom: 5px;
}
#sidebar .links a {
	display: block;
	padding: 12px 12px;
	color: #444;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#sidebar .links a i {
	margin-right: 2px;
}
#sidebar .links a:hover {
	color: #111;
	background: #f7f7f7;
}



#sidebar h3 {
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	padding: 0px 5px 10px 5px;
	color: #666;
	text-align: left;
}
#sidebar .spacer {
	margin-bottom: 15px;
}

.sort {
	text-align: center;
	margin-bottom: 20px;
}
.sort a {
	margin: 0 3px;
}
.sort span {
	color: #999;
	margin-left: 3px;
}
.sort a.active {
	color: #fff;
	background: #333;
}


.dash .post {
	/*height: 124px;*/
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #eee;
}
.dash .preview {
	width: 140px;
	height: 100px;
	float: left;
	position: relative;
}
.dash .details {
	width: 535px;
	padding-left: 10px;
	float: left;
}
.dash .details h2 {
	height: 51px;
	font-weight: normal;
	font-size: 18px;
	padding: 2px 0;
	color: #333;
	line-height: 24px;
	margin-bottom: 10px;
}
.dash .details h2 a {
	color: #555;
	text-decoration: none;
}
.dash .details h2 a:hover {
	color: #222;
}
.dash .actions {
	
}
.dash .actions .right {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.dash .preview .status {
	padding: 3px 7px 2px 5px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 11px;
	background: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.9;
	cursor: pointer;
}

.dash .preview .status.red {
	background: #fc3d26;
}
.dash .preview .status.green {
	background: #6dc025;
}
.dash .preview .status.yellow {
	background: #edc80e;
}

.dash .delconf {
	margin-top: 15px;
	padding: 15px 0 5px 0;
	border-top: 1px dashed #eee;
	text-align: center;
	display: none;
}
.dash .delconf span {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

.badge-type {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 3px 6px 2px 5px;
	background: #333;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.9;
	cursor: pointer;
	border: 1px solid #333;
}
.badge-type i {
	width: 15px;
	text-align: center;
}

.badge-type.map { color: #ff3d00; border-color: #ff3d00; }
.badge-type.seed { color: #ffbc11; border-color: #ffbc11; }
.badge-type.texture { color: #6dc025; border-color: #6dc025; }
.badge-type.mod { color: #48a5c6; border-color: #48a5c6; }
.badge-type.server { color: #a56ee5; border-color: #a56ee5; }

.pagination {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 5px;
}
.pagination ul {
	display: inline-block;
}
.pagination li {
	float: left;
	margin: 0 3px;
}
.pagination a {
	
	color: #666;
	
	padding: 8px 15px;
	display: block;
	
	background: #f7f7f7;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
}
.pagination a:hover {
	color: #222;
	background: #eee;
	border-color: #ccc;
}
.pagination li.active a {
	color: #fff;
	font-weight: bold;
	background: #333;
	border-color: #333;
}

.form {
	position: relative;
}

.form-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(255,255,255,0.6);
}

.form .inputs {
	padding: 5px 0 10px 0;
}

.form .input {
	position: relative;
	padding-bottom: 10px;
}

.input.half {
	width: 340px;
	margin-right: 20px;
	float: left;
	padding-bottom: 5px;
}
.input.half.last {
	margin-right: 0;
}

.form_helper {
	display: none;
	font-size: 11px;
	color: #999;
	padding-top: 5px;
}
.form_helper a {
	color: #555;
	text-decoration: underline;
}
.form_helper a:hover {
	color: #222;
}

.form .rules {
	margin-bottom: 15px;
	border: 1px dashed #ddd;
	padding: 15px;
}

.form input.title {
	width: 100%;
	font-size: 18px;
}
.form input.title.with-badge {
	padding-right: 95px;
}
.form .badge-type.title {
	top: 8px;
	right: 8px;
	left: auto;
	background: #fff;
	opacity: 1;
}
.form .main-inputs {
	padding: 10px;
	margin-bottom: 15px;
	background: #f7f7f7;
}
.form .main-inputs textarea {
	width: 100%;
	height: 150px;
}
.form .main-inputs p {
	margin: 10px 0 0 0;
	font-size: 12px;
	color: #444;
}
.form .main-inputs p a {
	color: #777;
	text-decoration: none;
}
.form .main-inputs p a:hover {
	color: #222;
}

.form .main-inputs h4 {
	height: 1px;
	background: #f7f7f7;
	margin: 15px 0 25px 0;
	border-bottom: 1px solid #ddd;
	display: block;
	position: relative;
	text-align: center;
}
.form .main-inputs h4 span {
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: #f7f7f7;
	text-transform: uppercase;
	color: #aaa;
	font-size: 11px;
}

.form .label {
	display: block;
}
label {
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	color: #555;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: inline-block;
}

.form .group {
	margin-bottom: 15px;
}

.chosen-select {
	z-index: 99;
	min-width: 150px;
	display: block;
	padding: 0 5px;
}



.main-inputs.uploads {
	padding-bottom: 0;
}

.main-inputs span.addUpload {
	margin: 5px 0 15px 0;
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.main-inputs span.addUpload a {
	color: #555;
	text-decoration: none;
}
.main-inputs span.addUpload a:hover {
	color: #111;
}
.main-inputs span.addUpload i {
	margin-right: 3px;
}

.main-inputs .customfile {
	float: left;
	margin-bottom: 10px;
}



.customfile {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 10px 15px 10px;
	background: #f7f7f7;
	border: 1px dashed #ddd;
}
.customfile-input {
	width: 95%;
	height: 80px;
	position: absolute;
	cursor: pointer; 
	background: transparent;
	border: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index: 99;
	top: 0;
	left: 0;
}

.customfile .remove {
	z-index: 99;
	color: #555;
	text-decoration: none;
	position: absolute;
	top: 13px;
	right: 5px;
	margin: auto;
	opacity: 0.5;
	padding: 3px 6px;
}
.customfile .remove:hover {
	opacity: 1;
}


.customfile-feedback {
	display: block;
	margin: 2px 0;
	font-size: 13px;
	color: #777;
	padding: .3em 0;
}
.customfile-feedback-populated {
	color: #333;
	font-style: normal;
	font-weight: bold;
}
.customfile-button {
	border: 1px solid #aaa;
	font-weight: bold;
	float: right;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	color: #111;
	margin-right: 18px;
}


.customfile-bad {
	background-color: #fff1ef;
	border-color: #fd7969;
}
.customfile-bad .customfile-feedback, .customfile-bad .customfile-feedback-populated {
	color: #db1a03;
}
.customfile-good {
	background-color: #f4fce3;
	border-color: #85bb14;
}
.customfile-good .customfile-feedback, .customfile-good .customfile-feedback-populated {
	color: #597e0d;
}

.customfile-msg {
	margin-top: 5px;
	font-weight: bold;
	display: none;
	color: #111;
}
.customfile-msg.error {
	color: #db1a03;
}

#posts {
	
}
#posts .post {
	width: 100%;
	height: 210px;
	display: block;
	padding: 5px;
	margin-bottom: 15px;
	background: #eee;
}
#posts .img {
	width: 500px;
	height: 200px;
	position: relative;
	float: left;
}

#posts.profile .post {
	height: 160px;
}
#posts.profile .img {
	
	width: 298px;
	height: 148px;
	display: block;
	float: left;
	background: #fff;
	padding: 3px;
	border: 1px solid #ccc;
}
#posts.profile .side {
	width: 385px;
}
#posts.profile h3 {
	margin-bottom: 5px;
}
#posts.profile h3 a {
	color: #2467b5;
	text-decoration: none;
}
#posts.profile h3 a:hover {
	color: #e9a22d;
}

#posts .overlay {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 7px 10px;
	color: #fff;
	background: rgba(0,0,0,0.7);
	overflow-x: hidden;
	display: table;
}
#posts .img .version {
	position: absolute;
	top: 7px;
	right: 7px;
	padding: 3px 7px 2px 6px;
	background: #333;
	color: #6dc025;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.9;
	border: 1px solid #6dc025;
}


#posts .img .version.old {
	color: #ffbc11;
	border-color: #ffbc11;
}

#posts .img .featured {
	position: absolute;
	top: 7px;
	left: 7px;
	padding: 3px 6px 2px 5px;
	background: #ffbc11;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity:1;
	border: 1px solid #ffbc11;
}
#posts .img .featured i {
	margin-right: 2px;
}

#posts .avatar {
	width: 36px;
	height: 36px;
	display: block;
	float: left;
	margin-right: 10px;
	border: 2px solid #fff;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
#posts h2 {
	width: 100%;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	display: table-cell;
	vertical-align: middle;
}
#posts h2 a {
	color: #fff;
	text-decoration: none;
}
#posts h2.multi-line {
	line-height: 17px;
	position: relative;
	top: 1px;
}
#posts h2.multi-line span {
	display: block;
	font-size: 12px;
	opacity: 0.8;
}
#posts .side {
	width: 185px;
	height: 100%;
	padding-top: 5px;
	padding-left: 5px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
	position: relative;
}
#posts .side li span {
	color: #140b7a;
	font-size: 14px;
	font-weight: bold;
}
#posts .side li i {
	color: #555;
}
#posts .side li {
	padding-bottom: 5px;
}

a.view-bttn {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 8px 10px 7px 10px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #163f6e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #2989d8;
	background: -moz-linear-gradient(top,  #2989d8 0%, #2467b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#2467b5));
	background: -webkit-linear-gradient(top,  #2989d8 0%,#2467b5 100%);
	background: -o-linear-gradient(top,  #2989d8 0%,#2467b5 100%);
	background: -ms-linear-gradient(top,  #2989d8 0%,#2467b5 100%);
	background: linear-gradient(to bottom,  #2989d8 0%,#2467b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#2467b5',GradientType=0 );
}
a.view-bttn:hover {
	background: #54a1e0;
	background: -moz-linear-gradient(top,  #54a1e0 0%, #2467b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54a1e0), color-stop(100%,#2467b5));
	background: -webkit-linear-gradient(top,  #54a1e0 0%,#2467b5 100%);
	background: -o-linear-gradient(top,  #54a1e0 0%,#2467b5 100%);
	background: -ms-linear-gradient(top,  #54a1e0 0%,#2467b5 100%);
	background: linear-gradient(to bottom,  #54a1e0 0%,#2467b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a1e0', endColorstr='#2467b5',GradientType=0 );
}

a.view-bttn.dl {
	color: #333;
	text-align: left;
	border-color: #f59601;
	background: #f1e466;
	background: -moz-linear-gradient(top,  #f1e466 0%, #fbc057 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e466), color-stop(100%,#fbc057));
	background: -webkit-linear-gradient(top,  #f1e466 0%,#fbc057 100%);
	background: -o-linear-gradient(top,  #f1e466 0%,#fbc057 100%);
	background: -ms-linear-gradient(top,  #f1e466 0%,#fbc057 100%);
	background: linear-gradient(to bottom,  #f1e466 0%,#fbc057 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e466', endColorstr='#fbc057',GradientType=0 );
}
a.view-bttn.dl:hover {
	background: #f7efa4;
	background: -moz-linear-gradient(top,  #f7efa4 0%, #fbc057 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7efa4), color-stop(100%,#fbc057));
	background: -webkit-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: -o-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: -ms-linear-gradient(top,  #f7efa4 0%,#fbc057 100%);
	background: linear-gradient(to bottom,  #f7efa4 0%,#fbc057 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7efa4', endColorstr='#fbc057',GradientType=0 );
}
#posts a.dl span {
	float: right;
	color: #905801;
}
#posts a.view-bttn i {
	margin-right: 3px;
}

#posts.servers .post {
	height: 100px;
}
#posts.servers .img {
	width: 690px;
	height: 50px;
}
#posts.servers .img .version {
	top: 12px;
	right: 12px;
}
#posts.servers .img .featured {
	top: 12px;
	right: 148px;
	left: auto;
}
#posts.servers .side {
	width: 100%;
	height: auto;
	margin-left: 0;
	
	padding: 12px 10px 12px 10px;
	
	
}
#posts.servers div.status {
	width: 78px;
	text-align: center;
	
	top: 12px;
	right: 62px;
	
	position: absolute;
	padding: 4px 7px 3px 7px;
	background: #ccc;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity:1;
}
#posts.servers div.status.online {
	color: #fff;
	background: #6dc025;
}
#posts.servers div.status.offline {
	color: #fff;
	background: #ff3d00;
}


#posts.servers span.status.online {
	color: #6dc025;
}
/*#posts.servers span.status.offline {
	color: #ff3d00;
}*/
#posts.servers .side li span.players {
	color: #000;
	font-size: 12px;
	font-weight: normal;
}


#posts.servers a.view-bttn, a.view-bttn.silver {
	
	width: 135px;
	
	display: block;
	
	position: absolute;
	bottom: 7px;
	
	
	padding: 6px 10px 5px 10px;
	
	right: 0;
	left: auto;
	
	border-color: #ccc;
	color: #333;
	
	text-transform: none;
	
	background: #fefefe;
	background: -moz-linear-gradient(top,  #fefefe 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dddddd',GradientType=0 );
	
}

#posts.servers .status i {
	margin-right: 2px;
}
#posts.servers .side li {
	float: left;
	
	
	margin-right: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	
	border-right: 1px dashed #ccc;
	
}

.post-sort {
	padding-bottom: 15px;
	text-align: center;
}
.post-sort a {
	margin-right: 3px;
	margin-left: 3px;
}

/*.post-sort a.update i {
	margin: 0;
	padding: 0 3px;
}*/

.post-sort a.active, .post-sort a.active:hover {
	color: #fff;
	background: #333;
}

.post-search {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ddd;
	text-align: center;
	display: none;
}
.post-search.show {
	display: block;
}
.post-search button#submit {
	padding: 8px 15px;
}


#home-slider {
	width: 700px;
	height: 280px;
	float: left;
	display: block;
}

#home-posts {
	padding-top: 20px;
	float: left;
}
#home-posts .half {
	width: 500px;
	margin-right: 20px;
	float: left;
}
#home-posts .half.last {
	margin-right: 0;
}
#home-posts .box {
	background: #f7f7f7;
	padding: 15px;
	margin-bottom: 20px;
}
#home-posts .box h2 {
	font-size: 15px;
	font-weight: normal;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#home-posts .box h2 i {
	font-size: 13px;
}

#home-posts .post {
	margin-bottom: 10px;
	background: #e9e9e9;
}
#home-posts .img {
	width: 138px;
	height: 88px;
	display: block;
	float: left;
	background: #fff;
	padding: 3px;
	border: 1px solid #ccc;
}
#home-posts .info {
	width: 322px;
	height: 88px;
	float: left;
	padding: 10px;
	font-size: 12px;
}
#home-posts .info h3 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
}
#home-posts .info a {
	color: #2467b5;
	text-decoration: none;
}
#home-posts .info a:hover {
	color: #e9a22d;
}
#home-posts .info p {
	margin-bottom: 5px;
}
#home-posts .info p a {
	color: #000;
	text-decoration: underline;
}
#home-posts .info li {
	color: #333;
	float: left;
	margin-right: 15px;
	text-align: center;
}
#home-posts .info i {
	color: #555;
	margin-right: 2px;
}
#home-posts .info strong {
	color: #140b7a;
	font-size: 13px;
}
#home-posts .bttn-more {
	padding-top: 5px;
	text-align: center;
}
#home-posts a.view-bttn.dl {
	width: auto;
	display: inline-block;
	position: static;
	text-transform: none;
	text-align: center;
}

#footer {
	padding: 25px 0;
	background: #222;
	color: #fff;
	color: rgba(255,255,255,0.4);
	font: 13px 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-align: center;
}

#footer .logo-text {
	font-size: 13px;
}
#footer p {
	margin: 0;
	line-height: 22px;
	font-size: 12px;
}
#footer a {
	color: #fff;
	color: rgba(255,255,255,0.4);
}
#footer a:hover {
	color: rgba(255,255,255,1);
}

#profile {
	
}
#profile .section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ddd;
}
#profile .head .avatar {
	width: 110px;
	height: 110px;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}
#profile .info {
	width: 590px;
	height: 110px;
	float: left;
	padding: 6px 0 0 15px;
}
#profile .info h1 {
	font-weight: normal;
	font-size: 27px;
	line-height: 27px;
	margin-bottom: 8px;
}
#profile .info h5 {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
#profile .actions {
	padding-top: 9px;
}
#profile h2 {
	font-size: 17px;
	color: #666;
	font-weight: normal;
	margin-bottom: 15px;
	line-height: 17px;
}
#profile .links {
	padding-top: 10px;
}
#profile .links a.youtube {
	color: #ec1c03;
}
#profile .links a.twitter {
	color: #48a5c6;
}

#profile .posts h2 {
	margin-bottom: 20px;
}
#profile .posts h2 span {
	color: #bbb;
}

span.rank {
	display: inline-block;
	padding: 1px 6px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	background: #333;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	top: -1px;
	margin-right: 4px;
}
span.rank .fa {
	width: 12px;
	text-align: center;
	margin-right: 3px;
}
span.rank.admin { background: #ff3d00; }
span.rank.mod { background: #ffbc11; }
span.rank.verified { background: #6dc025; }
span.rank.author { background: #48a5c6; }

#nav .red a, 	#nav .red a:hover { color: #ff3d00; }
#nav .yellow a,	#nav .yellow a:hover { color: #ffbc11; }
#nav .green a, 	#nav .green a:hover { color: #6dc025; }
#nav .blue a, 	#nav .blue a:hover { color: #48a5c6; }
#nav .purple a,	#nav .purple a:hover { color: #a56ee5; }

@import 'flexslider';
@import 'tipr';